@import "variables";
// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
}

// Containers
.container {
    width: 80%;
    margin: auto;
    height: 100%;
    max-width: 75rem;
}